body{
    background-color: antiquewhite;
}
header {
    
    background-color: rgb(212, 135, 80);
    
}
.box{
    width: 940px;
    margin: 0 auto;
    display: flex;
}
#img-menu{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
}

#lista-menu{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding: 100px;
}
#lista-menu li{
    margin-right: 20px;
    font-size: 40px;
}
#lista-menu a{
    text-decoration: none;
}
nav a:hover{
    color: aliceblue;

}
main{
    margin-top: 50px;
}
.produtos {
    width: 940px;
    margin: 0 auto;
}
.produtos li:hover{
    border: 4px white solid;
    border-top: 10px black solid;

}
.produtos li:active{
    border: 4px rgb(15, 138, 81) solid;
    border-top: 10px black solid;

}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 33%;
    vertical-align: top;
    padding: 30px 20pxpx;
    background-color: rgb(238, 236, 235);
    box-sizing: border-box;
    border: solid 3px burlywood;
    border-top:10px solid black ;
    border-radius: 10px;
}
.produtos h2{
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(173, 117, 80);
}
.produtos h2:hover{
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 7, 7);
}
.img-produto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.produto-preco{
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 0;
}
.produto-descricao{
    font-size: 18px;
    color: rgb(134, 104, 65);
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background: url("../img/istockphoto-1146367620-612x612.jpg");
    padding: 40px 0;
    margin-top: 50px;
}

#img-end{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}